/* https://www.youtube.com/watch?v=nJRtKf6NWSY */
/* https://www.youtube.com/watch?v=ijFOmcsFeXo */


body {
    margin-right: 20%;
    padding: 0;
    background-color: black;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8.9);
    background-size: 115px 115px;
    background-image: linear-gradient(45deg,  rgba(25, 25, 25, 0.9) 25%, transparent 25%), linear-gradient(-45deg, rgba(25, 25, 25, 0.8) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(25, 25, 25, 0.8) 75%), linear-gradient(-45deg, transparent 75%, rgba(25, 25, 25, 0.8) 75%); 
} 

.cube {
    /* Your existing styles for the cube */
    z-index: 2; /* Set a higher z-index for the cube */
}

.name {
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top of the container */
    position: absolute;
    top: 10px; /* Adjust the top value to leave space for the cube */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: white;
    opacity: 0.7; 
    white-space: nowrap; /* Prevent line break */
    z-index: -1; 
}

.otherName {
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 180px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    writing-mode: vertical-rl;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 190px; /* Adjust the top value to position it vertically on the top */
    left: -120px; /* Adjust the left value to position it horizontally on the left */
    color: white;
    opacity: 0.7; /* Set the desired opacity (0 to 1) */
    z-index: -1; /* Set a lower z-index for the .otherName element */
    white-space: nowrap; /* Prevent line break */
    transform: rotate(180deg);
}
.otherMatrix {
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    writing-mode: vertical-rl;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 140px; /* Adjust the top value to position it vertically on the top */
    right: 10px; /* Adjust the left value to position it horizontally on the left */
    color: white;
    opacity: 0.7; /* Set the desired opacity (0 to 1) */
    z-index: -1; /* Set a lower z-index for the .otherName element */
    white-space: nowrap; /* Prevent line break */
    }

.matrix {
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the top of the container */
    position: absolute;
    bottom: 10px; /* Adjust the top value to leave space for the cube */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: white;
    opacity: 0.7; 
    white-space: nowrap; /* Prevent line break */
    z-index: -1; 
}

.cubeContainer .cube {
    width: 350px;
    height: 350px;
    margin: auto;
    transform-style: preserve-3d;
    animation: cubeRolling 4s linear forwards, zoomInAnimation 9.5s 4s ease-in-out;
}


@keyframes cubeRolling {
    0% {
        transform: translate(-10px, -10px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: translate(0, 200px) rotateX(35deg) rotateY(180deg);
    }
    100% {
        transform: translate(150px, 10px) rotateX(70deg) rotateY(360deg);
    }
}

@keyframes zoomInAnimation {
    0%, 10% {
        animation-timing-function: ease-in-out;
    }

    0% {
        transform: translate(150px, 10px) translateX(0) scale(1);
        animation-duration: 9s; 
    }

    10% {
        transform: translate(150px, 10px) translateX(7deg) scale(2);
        animation-duration: 1s; 
    }

    25% {
        transform-origin: 35% 35%;
        transform: translate(150px, 10px) rotateZ(25deg) scale(20);
    }
    
    50%, 100% {
        transform-origin: 35% 35%;
        transform: translate(150px, 10px) rotateZ(100deg) scale(200);
        animation-duration: 1s;
    }
}


.cubeContainer {
    position: relative;
    top: 150px;
}

.cubeContainer .cube-face {
width: 350px;
height: 350px;
background: rgb(4, 4, 4);
color: white;
display: flex;
align-items: flex-start;
backface-visibility: hidden;
}

.cubeContainer .front {
    background-color: rgb(40, 40, 40);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
    transform: translateZ(175px) rotateX(0deg) rotateY(0deg);
}

.cubeContainer .back {
    background-color: rgb(40, 40, 40);
    transform: rotateY(180deg) translateZ(175px);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
}

.cubeContainer .left {
    transform: rotateY(-90deg) translateZ(175px);
    background: rgb(35, 35, 35);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
}

.cubeContainer .right {
    transform: rotateY(90deg) translateZ(175px);
    background: rgb(35, 35, 35);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
}

.cubeContainer .top {
    background-color: rgb(30, 30, 30);
    transform: rotateX(90deg) translateZ(175px);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
}


.cubeContainer .bottom {
    transform: rotateX(-90deg) translateZ(175px);
    background: rgb(30, 30, 30);
    background-size: 115px 115px;
    border: 0.5px solid white;
    background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
}

.cubeContainer .cube-face {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Bottom Cube Face Image sizing */

.cubeImageGrid {
    width: 22.85%; 
    height: 22.7%;
    position:absolute
}

/* Bottom Cube Face Image Placement */

.cubeImageGridA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGrid[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Left Cube Face Image sizing */

.cubeImageGridLeft {
    width: 22.85%; 
    height: 22.7%;
    position:absolute
}

/* Left Cube Face Image Placement */

.cubeImageGridLeftA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridLeftB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridLeftC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridLeftD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridLeftE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridLeftF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridLeftG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridLeftH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridLeftI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGridLeft[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Right Cube Face Image sizing */

.cubeImageGridRight {
    width: 22.85%; 
    height: 22.7%;
    position: absolute;
}

/* Right Cube Face Image Placement */

.cubeImageGridRightA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridRightB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridRightC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridRightD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridRightE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridRightF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridRightG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridRightH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridRightI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGridRight[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Back Cube Face Image sizing */

.cubeImageGridBack {
    width: 22.85%; 
    height: 22.7%;
    position:absolute
}

/* Back Cube Face Image Placement */

.cubeImageGridBackA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridBackB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridBackC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridBackD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridBackE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridBackF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridBackG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridBackH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridBackI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGridBack[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Front Cube Face Image sizing */

.cubeImageGridFront {
    width: 22.85%; 
    height: 22.7%;
    position:absolute
}

/* Front Cube Face Image Placement */

.cubeImageGridFrontA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridFrontB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridFrontC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridFrontD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridFrontE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridFrontF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridFrontG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridFrontH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridFrontI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGridFront[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Top Cube Face Image Sizing */

.cubeImageGridTop {
    width: 22.85%; 
    height: 22.7%;
    position:absolute
}

/* Top Cube Face Image Placement */

.cubeImageGridTopA { top: 5.2%; left: 5%; background-image: url("/website-images/HomePageA.jpeg"); }
.cubeImageGridTopB { top: 5.1%; left: 38%; background-image: url("/website-images/HomePageB.jpeg"); }
.cubeImageGridTopC { top: 38%; left: 5%; background-image: url("/website-images/AboutUs.jpeg"); }
.cubeImageGridTopD { top: 37.9%; left: 37.9%; background-image: url("/website-images/UserRegistration.jpeg"); }
.cubeImageGridTopE { top: 70.9%; left: 5%; background-image: url("/website-images/UserLogin.jpeg"); }
.cubeImageGridTopF { top: 70.9%; left: 37.8%; background-image: url("/website-images/PictureCarousel.jpeg"); }
.cubeImageGridTopG { top: 71%; left: 70.6%; background-image: url("/website-images/AdminLogin.jpeg"); }
.cubeImageGridTopH { top: 38%; left: 70.5%; background-image: url("/website-images/Bookings.jpeg"); }
.cubeImageGridTopI { top: 5.6%; left: 70.3%; background-image: url("/website-images/Calendar.jpeg"); }

.cubeImageGridTop[data-image] {
    background-size: cover;
    background-position: center;
    transform: rotate(45deg);
}

/* Glow Effect */

/* Cube Faces */

.cubeContainer .cube-face {
    width: 350px;
    height: 350px;
    margin: auto;
    transform-style: preserve-3d;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5); 
}

/* Individual Cube Faces */

.cubeContainer .front,
.cubeContainer .back,
.cubeContainer .left,
.cubeContainer .right,
.cubeContainer .top,
.cubeContainer .bottom {
    box-shadow: 0 0 800px rgba(255, 255, 255, 0.5); 
}

/* Cube Images */

.cubeImageGrid,
.cubeImageGridLeft,
.cubeImageGridRight, 
.cubeImageGridFront,
.cubeImageGridBack,
.cubeImageGridTop {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
}


/* Styles for the navigation bar */
nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Make sure the navigation bar is above the black screen */
    border: 2px solid rgb(41, 40, 40); 
    padding: 192px 43px;
    background-color: #000000;
    font-family: Futura, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: flex; 
}

nav li {
    padding: 0 15px; 
}

nav a {
    text-decoration: none;
    color: rgb(18, 18, 18); /* make this go from black to white slowly */
}




